body {
    margin: 0;
    padding: 0;
    padding-bottom: 200px;
}
.hero-btn1:hover, .o-n:hover {
    background: #3039b4;
}
.hero-btn2:hover, .l-m:hover {
    background: #eeeeee;
}
a {
    color: black;
    text-decoration: none;
}
h1, h2, h3 {
    font-weight: 700;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
p, a {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 12.5px;
    align-items: center;
}
img {
    display: block;
    width: 100%;
}
.tesla-logo {
    display: block;
    width: 120px;
    height: auto;
    margin-left: 30px;

}
.menu {
    cursor: pointer;
    width: 75px;
    height: 30px;
    padding: 0%;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}
.hero-model-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 80vh;
}
.img-model-3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    height: 73.5vh;
}
h2, .p2, .p1 {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p2 a {
    color: inherit;
}
h2 {
    font-size: 5.5vh;
    margin: 5vh 0 0 0;
}
.p1 {
    font-size: 2.5vh;
    margin-bottom: 1vh;
}
.p2 {
    font-weight: normal;
    font-size: 1.8vh;
    margin: 0 0 0 0;
}
.anchor-btn {
    display: flex;
    gap: 10px;
}
.hero-btn1, .hero-btn2 {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: flex;
    border-radius: 4px;
    margin-top: 15px;
    height: 40px;
    width: 175px;
    justify-content: center;
    align-items: center;
    font-size: 1.6vh;
    transition: 0.25s ease;
}
.hero-btn1 {
    background-color: #3c47e0;
    color: #ffffff;
}
.hero-btn2 {
    background-color: #ffffff;
    color: black;
}
.hero-model-y {
    display: none;
}
.featured-section {
    display: flex;
    overflow-x: auto;
    padding-left: 40px;
    gap: 20px;
}
.featured-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 10%;
    z-index: -1;

}
.ft-model-3, .ft-model-y, .ft-model-s, .ft-model-x {
    position: relative;
    flex-shrink: 0;
    width: 65vw;
    max-width: 70vw;
    max-height: 70vh;
    border-radius: 10px;
    overflow: hidden;
}
.featured-section h3, .ft-p {
    position: absolute;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.featured-section h3 {
    bottom: 10%;
    left: 5%;
    font-size: 4.2vh;
}
.ft-p {
    left: 5%;
    top: 5%;
    font-weight: 600;
}
.btn-row {
    position: absolute;
    left: 5%;
    bottom: 5%;
    display: flex;
    gap: 8px;
}
@media (max-width: 765px) {
    .featured-section .btn-row {
        display: flex;
        justify-content: center;
        width: 90%;
    }
}
.o-n, .l-m {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 40px;
    width: 170px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    transition: 0.25s ease;
}
.o-n {
    background-color: #3c47e0;
    color: white;
}
.l-m {
    background-color: #ffffff;
    color: black
}
@media (max-width: 800px) {
  .ft-model-3, .ft-model-y, .ft-model-s, .ft-model-x {
    aspect-ratio: 5/ 4;
  }
}

@media (min-width: 801px) and (max-width: 1400px) {
  .ft-model-3, .ft-model-y, .ft-model-s, .ft-model-x {
    aspect-ratio: 4/ 3;
  }
}

@media (min-width: 1401px) {
  .ft-model-3, .ft-model-y, .ft-model-s, .ft-model-x {
    aspect-ratio: 16 / 10;
  }
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    
}
.card {
    width: 45%;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    border-radius: 10px;
    align-items: center;
    height: 220px;
    overflow: visible;
    justify-content: space-between;
}
.card h3 {
    font-size: 3vh;
    margin: 0;
}
.card img {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 33.3%;
    flex-shrink: 0;
    object-fit: cover;
}
.card p {
    font-style: #ebebeb;
    font-weight: 300;
}
.card a {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.4vh;
    transition: 0.25s ease;
}
.card a:hover {
    background-color: #eeeeee;
}
.card-text {
    margin-left: 40px;
    margin-right: 35%;
}
@media (max-width: 765px)  {
    .about {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 95%;
    }
    .card-text a {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.map {
display: flex;
width: 100%;
justify-content: center;
margin-top: 25px;
flex-direction: column;
}
.map-elm {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}
.map-elm iframe {
    width: 100%;
    height: 550px;
    border-radius: 10px;
}
.map-desc-left {
    margin: 5px 0 5px 75px;
}
.map-desc-left h3 {
    font-size: 5vh;
    margin-bottom: 0px;
}
.map-desc-left p {
    font-size: 2vh;
    color: #444444;
    margin-top: 5px;
    margin-bottom: 30px;
}
.mt-d {
    display: flex;
    gap: 10px;
}
.mt-d a {
    width: 150px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.mt-d a.mt-1 {
    background-color: #111111;
    color: #ffffff;
}

.mt-d a.mt-2 {
    background-color: #ebebeb;
    color: #000000;
}
.mt-d .mt-1:hover {
    background-color: #222222;
}
.mt-d .mt-2:hover {
    background-color: #cdcdcd;
}
.chargers img {
    max-width: 50px;
}
.map-desc {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
.chargers {
    margin-top: 40px;
    display: flex;
    gap: 70px;
    font-size: 2.2vh;
    color: #333333;
}
.chargers img {
    margin-left: 60%;
}